<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!--dubbo服务端-->
    <dubbo:application name="pinyougou-sellergoods-service"></dubbo:application>
    <dubbo:registry address="192.168.25.133:2181" protocol="zookeeper"></dubbo:registry>
    <dubbo:protocol name="dubbo" port="20880"></dubbo:protocol>
    <dubbo:annotation package="com.pinyougou.sellergoods.service"></dubbo:annotation>
</beans>